<!DOCTYPE html>
<html>
<head>
    <title>lcSharesWatch - telegram</title>
    <script src="static/axios.min.js"></script>
    <script type="text/javascript" src="static/vue.js"></script>
    <link type="text/css" rel="stylesheet" href="static/materialize.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="static/style.css" media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

<script type="text/x-template" id="modal-template">
    <transition name="modal">
        <div class="modal-mask" @click="$emit('close')">
            <div class="modal-wrapper">
                <div class="modal-container">

                    <div class="modal-header">
                        <slot name="header">
                            default header
                        </slot>
                    </div>

                    <div class="modal-body">
                        <slot name="body">
                        </slot>
                    </div>

                    <div class="modal-footer">
                        <slot name="footer">
                            default footer
                            <button class="modal-default-button" @click="$emit('close')">
                                OK
                            </button>
                        </slot>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</script>

<nav class="orange darken-3">
    <div class="nav-wrapper">

        <a href="#" class="brand-logo">
            <img src="static/logo.png" class="logo">
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="index.html">Shares</a></li>
            <li><a href="telegram.html">Telegram</a></li>
            <li><a href="log.html">Log</a></li>
        </ul>
    </div>
</nav>
<div class="row">
    <div class="col s8 offset-m2" id="stats">
        <div v-if="loading">
            loading
        </div>

        <div v-else>
            <modal v-if="showModal">
                <div slot="header">
                    {{modalData.username}}
                </div>
                <div slot="body" class="row">
                    User is
                    <span v-if="modalData.accepted">active</span>
                    <span v-else >disabled</span>
                </div>
                <div slot="footer">
                    <div class="row">
                        <button v-on:click="setUser(1);" class="btn-flat green">Enable</button>
                        <button v-on:click="setUser(0);" class="btn-flat blue">Disable</button>
                        <button v-on:click="showModal=false;" class="btn-flat grey">Close</button>
                    </div>
                </div>
            </modal>

            <h5>Users</h5>
            <div v-if="tginfo">
                <span v-if="tginfo.error">
                    {{tginfo.message}}
                    <br>
                    if you're just setting up go to <a target="_blank" v-bind:href="'https://t.me/botfather'" >@botfather</a> and create a bot!

                </span>
                <span v-else class="small">go to <a target="_blank" v-bind:href="'https://t.me/'+tginfo.username " >@{{tginfo.username}}</a> and send a message to get the user added here</span>
            </div>
            <table class="striped highlight">
                <thead>
                <tr>
                    <th>TelegramId</th>
                    <th>Name</th>
                    <th>Accepted</th>
                </tr>
                </thead>
                <tr v-for="user in tgusers" @click="openModal(user)">
                    <td>{{ user.tgId }}</td>
                    <td>{{ user.username }}</td>
                    <td>
                        <span v-if="user.accepted">yes</span>
                        <span v-else>no</span>
                    </td>
                </tr>

            </table>
        </div>
    </div>

</div>

<script type="text/javascript" src="static/materialize.js"></script>
<script type="text/javascript" src="static/telegram.js"></script>

</body>
</html>